.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100vw;
  height: 10vh;
  padding-top: 5px;
  padding-right: 5%;
  padding-left: 5px;
  padding-bottom: 5px;
  overflow: visible;
}

@media (min-width: 768px) {
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 10vh;
    padding-top: 5px;
    padding-right: 5%;
    padding-left: 5px;
    padding-bottom: 5px;
    overflow: visible;
  }
}

.header_left {
  display: flex;
  align-items: center;
  gap: 10;
}

@media (min-width: 768px) {
  .header_right {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
}
.header_right {
  display: flex;
  align-items: center;
  margin-right: 25px;
}

.logo {
  object-fit: contain;
  height: 50px;
  width: 50px;
}

.header_right_icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1vw;
  margin-right: 2vw;
}

.header_right_auth {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 1vw;
  overflow: visible;
  position: relative;
}
