icon {
  font-size: 56px !important;
  color: black;
  margin-bottom: 16px;
}

/* .modal_bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
} */

.upload_button {
  display: flex;
  align-items: center;
  justify-content: center;
}
